@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.title,
.text {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.title {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
}

li {
    padding: 0 20px 0 0;
    color: black;
}

.last {
    font-family: 'Roboto', sans-serif;
}

.text {
    width: 800px;
}

h2,
.blue {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 40px;
    padding-bottom: 15px;
}

.left {
    width: 350px;
}

.blue {
    padding: 15px 0 15px 15px;
    font-size: 20px;
    background-color: blue;
    color: white;
    height: 250px;
}

.pic {
    width: 750px;
    font-weight: bold;
}

img {
    width: 100%;
}